body {
    background: url('images/light-blue-theme-fh2.jpg') no-repeat;
    background-size:cover;
    font-family:Arial;
}
ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
ul li {
    float:left;
    align-content:center;
    width:300px;
    height:40px;
    opacity:.8;
    background-color:aqua;
    text-decoration-color:black;
    text-align:center;
    font-size:20px;
    line-height:40px;
    margin-right:1px;
    margin-top:1px;
}

ul li a{
    display:block;
    text-decoration:none;
}

ul li a:hover{
    background-color:mediumaquamarine;
    tab-size:40px;
}
